body {
  padding: 10px;
  font-family: sans-serif;
}

.scroll {
  align-items: center;
  height:530px;
  overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
    display: none;
}

.reactText {
  margin: 5px;
}

.passHelp {
  display:block;
  padding-bottom: 5px;
}

.clickableImage
{
    cursor: pointer;
    width:20;
    height:20;
}
